# Files and directories starting with a dot
.*

# Node.js specific files
node_modules/
yarn.lock
package-lock.json

# Python specific files
__pycache__/
*.pyc

# Editor-specific files
.vscode/
.idea/
venv
/venv

# Log files
*.log

# Temporary files
*.tmp

.env
/notebook
/datasets